	body{
		background-color: #f4f4f4;
		padding:0;
		margin:0;
	}

	/* Global */
	.container{
		width: 90%;
		margin: auto;
		overflow: hidden;
	}

	/* Header **/
	header{
		background: #3c3c3c;
		color: white; 
		min-height: 70px;
		padding: 0;
	}
	
	header .logo h1{
		float: left;
		margin: 0;
		font: 60px/1.5 Courier New, monospace;
	}
	
	header .logo a{
		float: left;
		margin: 0;
		font: 20px/1.5 Courier New, monospace;
		padding-left: 5px;
	}
	
	header .sbar{
		float: right;
	}
	
	header form{
		margin-top: 10px;
	}
	
	/* Navbar ***/
	.navbar a{
		color: black;
		text-decoration: none;
		text-transform: uppercase;
		font: 18px/2.5 Tahoma, Geneva, sans-serif;
	}
	.navbar li{
		display: inline;
		padding: 0 0 0 40px;
	}
	.navbar{
		text-align: center;
	}
	
	/* Featured ****/
	.featured img{
		height: auto;
		width: 100%;
		padding-bottom: 25px;
	}
	
	/* Story *****/
	.container .story{
		text-align: center;
		padding:0;
		margin:0 auto;
		font-family: Tahohma, Geneva, sans-serif;
	}
	
	/*collection *******/
	.collection img{
		height: auto;
		width: 100%;
	}
	
	/*samples ********/

	.samples img{
		height: auto;
		width: 100%;
	}
	/*contact ********/
	.contact{
		text-align: center;
		font: 12px/1.5 Tahoma, Geneva, sans-serif;
	}
	
	/*cloth images ****/
	
	div.gallery:hover {
		border: 1px solid #777;
	}

	div.gallery img {
		width: 100%;
		height: auto;
	}

	div.desc {
		padding: 15px;
		text-align: center;
		font: 18px/2.5 Tahoma, Geneva, sans-serif;
		color: black;
		text-decoration: none;
		text-transform: uppercase;
	}

	* {
		box-sizing: border-box;
	}

	.responsive {
		padding: 0 6px;
		float: left;
		width: 24.99999%;
	}

	@media only screen and (max-width: 700px) {
		.responsive {
			width: 49.99999%;
			margin: 6px 0;
		}
	}

	@media only screen and (max-width: 500px) {
		.responsive {
			width: 100%;
		}
	}

	.clearfix:after {
		content: "";
		display: table;
		clear: both;
	}
	
	/*emailer ***/
	input[type=text], select, textarea {
		width: 100%;
		padding: 12px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		margin-top: 6px;
		margin-bottom: 16px;
		resize: vertical;
}

	input[type=submit] {
		background-color: #4CAF50;
		color: white;
		padding: 12px 20px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
}

	input[type=submit]:hover {
		background-color: #45a049;
}

	.emailer {
		border-radius: 5px;
		background-color: #f2f2f2;
		padding: 20px;
}
	.emailer h1{
		text-align: center;
		font: 30x/1.5 Tahoma, Geneva, sans-serif;
	}
	.emailertext label{
		font: 30x/1.5 Tahoma, Geneva, sans-serif;
	}